/*
Block elements: always starts a new line and takes full width
*/
.block {
  background: blue;
  color: white;
}
/* Inline elements: Does not start new line and only take up as much as content space is necessary*/
.inline {
  background: green;
  color: white;
}

.inline2 {
  background: red;
  color: white;
  display: block;
}
