/*
  ICONS
         Font-Awesome Icons
         Free, Easy to get up running, simple syntax
*/
.fa-fighter-jet {
  color: red;
  font-size: 3rem;
}
.social-icon {
  font-size: 4rem;
  color: green;
}
